.Header{
    width: 100%;
    height: 97px;
    background-color: #D3CBC5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 140px;
}
ul{
    list-style: none;
    width: 525px;
    display: flex;
    justify-content: space-between;
    color: #1B1A1A;
    font-size: 16px;
    font-weight: 300;
}
.icons{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.cartIconCon{
    position: relative;
}
svg{
    cursor: pointer;
}
.list{
    width: 9px;
    height: 9px;
    background-color: #781414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    font-weight: 300;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 3px;
}

