.shopButtonCon{
    width: 113px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.shopButton{
    width: 114px;
    height: 37px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.shopButton:hover{
    background-color: transparent;
    color: #000;
}
.line1{
    width: 1px;
    height: 45px;
    top: 0px;
    left: 0px;
    background-color: #000;
    position: absolute;
}
.line2{
    width: 122px;
    height: 2px;
    top: 8px;
    left: -8px;
    background-color: #000;
    position: absolute;
}
.line3{
    width: 1px;
    height: 45px;
    bottom: 0px;
    right: 0px;
    background-color: #000;
    z-index: 9999s;
    position: absolute;
}
.line4{
    width: 122px;
    height: 2px;
    bottom: 8px;
    right: -8px;
    background-color: #000;
    position: absolute;
}